{
  "openapi": "3.1.1",
  "info": {
    "title": "Routebase Public API",
    "description": "This reference covers the part of the Routebase API that is a commitment to\ncustomers. Every endpoint here is called by a shipped Routebase client, so it is\nalready a contract in practice. The test CLI on nuget.org drives the CI, spec,\nsecurity and docs-as-code groups, and identity providers such as Okta and\nMicrosoft Entra drive the SCIM group.\n\nEverything else under \u0060/api/**\u0060 serves the Routebase web app, can change without\nnotice, and should not be built against.\n\nThe API is not versioned by path, and the version above numbers this document\nrather than the API. A breaking change here is announced in the release notes\nbefore it ships.\n\n## Authentication\n\nSend an API key in the \u0060X-API-Key\u0060 header. Keys are created under Settings then\nAPI Keys, they start with \u0060rb_live_\u0060, and each one carries its own permission\nscopes and an optional restriction to a single project. A scoped key cannot reach\norganization level operations at all, so grant the least privilege that works.\n\nSCIM is the exception and authenticates with a separate bearer token, issued per\norganization when SCIM provisioning is enabled.\n\n## Regions\n\nAn organization lives in exactly one region. US organizations must send the\n\u0060X-RB-Region\u0060 header documented on every operation, otherwise the request is\nrouted to the EU region and answered with 401.\n\n## Rate limits\n\nRequests are counted in a rolling window of 60 seconds. A call authenticated with\nan API key gets 100 requests per window, counted per user of that key. SCIM is\ncounted per source IP instead, so every call from one identity provider shares a\nsingle budget. Exceeding it answers \u0060429\u0060 with a \u0060Retry-After\u0060 header, which a\npolling CI job should honour rather than retry immediately.\n\n## Errors\n\nFailures return \u0060application/problem\u002Bjson\u0060 with a machine readable \u0060code\u0060 field.\nRead that rather than the human readable \u0060detail\u0060, which may be reworded. SCIM\nendpoints return the SCIM error envelope instead. Every identifier in this API is\na public UUID.",
    "version": "1.0.0"
  },
  "servers": [
    {
      "url": "https://api.routebase.dev"
    }
  ],
  "paths": {
    "/api/cli/environments": {
      "get": {
        "tags": [
          "CI \u0026 Test Runs"
        ],
        "summary": "List the environments of a project",
        "description": "Returns the environments of a project, so a pipeline can pick the one whose\nvariables the run should use. An environment marked \u0060isReadOnly\u0060 rejects every\nwrite request sent to it, and the test cases concerned are reported as blocked\nrather than failed.\n",
        "operationId": "cliListEnvironments",
        "parameters": [
          {
            "$ref": "#/components/parameters/ProjectIdQuery"
          },
          {
            "name": "X-RB-Region",
            "in": "header",
            "description": "Region of your organization. US organizations must send \u0060us\u0060; EU organizations leave the header out. Without it a US call is routed to the EU region and answered with 401.",
            "schema": {
              "type": "string",
              "example": "us"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The environments of the project.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "$ref": "#/components/schemas/Environment"
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "description": "The rate limit was exceeded. The \u0060Retry-After\u0060 header gives the seconds to wait.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying.",
                "required": true,
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            },
            "content": {
              "application/problem\u002Bjson": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "x-routebase-folder-path": "CI \u0026 Test Runs"
      }
    },
    "/api/cli/run": {
      "post": {
        "tags": [
          "CI \u0026 Test Runs"
        ],
        "summary": "Run a test suite and wait for the result",
        "description": "Executes a test suite and returns the outcome in one call, which is what a\npipeline step needs. The response tells you whether everything passed, so a\nCI job can fail on \u0060allPassed\u0060 alone. Pass a \u0060reportFormat\u0060 to get the report\ninline instead of downloading it separately.\n\nThe call blocks until the run finishes. For a long suite, send \u0060progressRunId\u0060\nand poll the status endpoint instead of holding the connection open.\n",
        "operationId": "cliRunTestSuite",
        "parameters": [
          {
            "name": "X-RB-Region",
            "in": "header",
            "description": "Region of your organization. US organizations must send \u0060us\u0060; EU organizations leave the header out. Without it a US call is routed to the EU region and answered with 401.",
            "schema": {
              "type": "string",
              "example": "us"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CliRunRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The run completed. Check \u0060allPassed\u0060 for the verdict.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CliRunResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "description": "The rate limit was exceeded. The \u0060Retry-After\u0060 header gives the seconds to wait.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying.",
                "required": true,
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            },
            "content": {
              "application/problem\u002Bjson": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "x-routebase-folder-path": "CI \u0026 Test Runs"
      }
    },
    "/api/cli/runs/{id}/report": {
      "get": {
        "tags": [
          "CI \u0026 Test Runs"
        ],
        "summary": "Download the report of a finished run",
        "description": "Returns the run report as a file. JUnit XML is the default because GitHub\nActions, Azure Pipelines and Jenkins all read it natively.\n\nThe run has to be finished. Asking for the report of a pending or running test\nrun is answered with 409, so poll the status endpoint first.\n",
        "operationId": "cliDownloadReport",
        "parameters": [
          {
            "name": "format",
            "in": "query",
            "description": "Report format. Defaults to \u0060junit\u0060.",
            "schema": {
              "enum": [
                "junit",
                "json",
                "html"
              ],
              "type": "string",
              "default": "junit"
            }
          },
          {
            "name": "id",
            "in": "path",
            "description": "Public id of the test run.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "X-RB-Region",
            "in": "header",
            "description": "Region of your organization. US organizations must send \u0060us\u0060; EU organizations leave the header out. Without it a US call is routed to the EU region and answered with 401.",
            "schema": {
              "type": "string",
              "example": "us"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The report file.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "description": "The run is still pending or running, so there is no report yet.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "429": {
            "description": "The rate limit was exceeded. The \u0060Retry-After\u0060 header gives the seconds to wait.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying.",
                "required": true,
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            },
            "content": {
              "application/problem\u002Bjson": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "x-routebase-folder-path": "CI \u0026 Test Runs"
      }
    },
    "/api/cli/runs/{id}/status": {
      "get": {
        "tags": [
          "CI \u0026 Test Runs"
        ],
        "summary": "Get the progress of a test run",
        "description": "Returns how far a run has come, which lets a pipeline show progress instead of\nwaiting silently. While the run is going, \u0060currentDurationMs\u0060 counts up and\n\u0060completedAt\u0060 stays null.\n",
        "operationId": "cliGetRunStatus",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "description": "Public id of the test run.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "X-RB-Region",
            "in": "header",
            "description": "Region of your organization. US organizations must send \u0060us\u0060; EU organizations leave the header out. Without it a US call is routed to the EU region and answered with 401.",
            "schema": {
              "type": "string",
              "example": "us"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The current status of the run.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CliRunStatus"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "description": "The rate limit was exceeded. The \u0060Retry-After\u0060 header gives the seconds to wait.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying.",
                "required": true,
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            },
            "content": {
              "application/problem\u002Bjson": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "x-routebase-folder-path": "CI \u0026 Test Runs"
      }
    },
    "/api/cli/suites": {
      "get": {
        "tags": [
          "CI \u0026 Test Runs"
        ],
        "summary": "List the test suites of a project",
        "description": "Returns the test suites of a project so a pipeline can resolve a suite by name.",
        "operationId": "cliListSuites",
        "parameters": [
          {
            "$ref": "#/components/parameters/ProjectIdQuery"
          },
          {
            "$ref": "#/components/parameters/Skip"
          },
          {
            "$ref": "#/components/parameters/Take"
          },
          {
            "name": "X-RB-Region",
            "in": "header",
            "description": "Region of your organization. US organizations must send \u0060us\u0060; EU organizations leave the header out. Without it a US call is routed to the EU region and answered with 401.",
            "schema": {
              "type": "string",
              "example": "us"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of test suites.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TestSuiteList"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "description": "The rate limit was exceeded. The \u0060Retry-After\u0060 header gives the seconds to wait.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying.",
                "required": true,
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            },
            "content": {
              "application/problem\u002Bjson": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "x-routebase-folder-path": "CI \u0026 Test Runs"
      }
    },
    "/api/projects/{projectId}/docs": {
      "get": {
        "tags": [
          "Docs as Code"
        ],
        "summary": "List the documentations of a project",
        "description": "Returns the documentations of a project with their versions, which is how a\npipeline finds the id of the version it should write into. Only a version whose\nstatus is \u0060draft\u0060 or \u0060review\u0060 accepts changes, so pick one of those.\n",
        "operationId": "getDocumentations",
        "parameters": [
          {
            "$ref": "#/components/parameters/ProjectId"
          },
          {
            "name": "X-RB-Region",
            "in": "header",
            "description": "Region of your organization. US organizations must send \u0060us\u0060; EU organizations leave the header out. Without it a US call is routed to the EU region and answered with 401.",
            "schema": {
              "type": "string",
              "example": "us"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The documentations of the project.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/GetDocumentationsResult"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "description": "The rate limit was exceeded. The \u0060Retry-After\u0060 header gives the seconds to wait.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying.",
                "required": true,
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            },
            "content": {
              "application/problem\u002Bjson": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "x-routebase-folder-path": "Docs as Code"
      }
    },
    "/api/projects/{projectId}/docs/{docId}/versions/{versionId}/folders": {
      "post": {
        "tags": [
          "Docs as Code"
        ],
        "summary": "Create a folder",
        "description": "Creates a folder in a version. A folder with \u0060isSection\u0060 set becomes a top level\nsection in the portal header rather than an entry in the sidebar, and only a\nfolder at the root can be one.\n",
        "operationId": "createDocFolder",
        "parameters": [
          {
            "$ref": "#/components/parameters/DocId"
          },
          {
            "$ref": "#/components/parameters/ProjectId"
          },
          {
            "$ref": "#/components/parameters/DocVersionId"
          },
          {
            "name": "X-RB-Region",
            "in": "header",
            "description": "Region of your organization. US organizations must send \u0060us\u0060; EU organizations leave the header out. Without it a US call is routed to the EU region and answered with 401.",
            "schema": {
              "type": "string",
              "example": "us"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDocFolderRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "The folder was created.",
            "headers": {
              "Location": {
                "description": "URL of the new folder.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateDocFolderResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "description": "The rate limit was exceeded. The \u0060Retry-After\u0060 header gives the seconds to wait.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying.",
                "required": true,
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            },
            "content": {
              "application/problem\u002Bjson": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "x-routebase-folder-path": "Docs as Code"
      }
    },
    "/api/projects/{projectId}/docs/{docId}/versions/{versionId}/pages": {
      "post": {
        "tags": [
          "Docs as Code"
        ],
        "summary": "Create a page",
        "description": "Creates a page inside a version, at the root or under a folder. The slug is\nderived from the title when you do not send one, and it is what the public\nportal URL is built from, so set it explicitly if the URL matters to you.\n",
        "operationId": "createDocPage",
        "parameters": [
          {
            "$ref": "#/components/parameters/DocId"
          },
          {
            "$ref": "#/components/parameters/ProjectId"
          },
          {
            "$ref": "#/components/parameters/DocVersionId"
          },
          {
            "name": "X-RB-Region",
            "in": "header",
            "description": "Region of your organization. US organizations must send \u0060us\u0060; EU organizations leave the header out. Without it a US call is routed to the EU region and answered with 401.",
            "schema": {
              "type": "string",
              "example": "us"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateDocPageRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "The page was created.",
            "headers": {
              "Location": {
                "description": "URL of the new page.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CreateDocPageResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "description": "The rate limit was exceeded. The \u0060Retry-After\u0060 header gives the seconds to wait.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying.",
                "required": true,
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            },
            "content": {
              "application/problem\u002Bjson": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "x-routebase-folder-path": "Docs as Code"
      }
    },
    "/api/projects/{projectId}/docs/{docId}/versions/{versionId}/pages/{pageId}": {
      "get": {
        "tags": [
          "Docs as Code"
        ],
        "summary": "Get a page with its content",
        "description": "Returns one page including its Markdown content and its \u0060rowVersion\u0060. Send that\n\u0060rowVersion\u0060 back on the next update and a concurrent edit is rejected with 409\ninstead of silently overwriting someone else\u0027s work.\n",
        "operationId": "getDocPageDetail",
        "parameters": [
          {
            "$ref": "#/components/parameters/DocId"
          },
          {
            "$ref": "#/components/parameters/PageId"
          },
          {
            "$ref": "#/components/parameters/ProjectId"
          },
          {
            "$ref": "#/components/parameters/DocVersionId"
          },
          {
            "name": "X-RB-Region",
            "in": "header",
            "description": "Region of your organization. US organizations must send \u0060us\u0060; EU organizations leave the header out. Without it a US call is routed to the EU region and answered with 401.",
            "schema": {
              "type": "string",
              "example": "us"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The page.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocPageDetail"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "description": "The rate limit was exceeded. The \u0060Retry-After\u0060 header gives the seconds to wait.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying.",
                "required": true,
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            },
            "content": {
              "application/problem\u002Bjson": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "x-routebase-folder-path": "Docs as Code"
      },
      "put": {
        "tags": [
          "Docs as Code"
        ],
        "summary": "Update a page",
        "description": "Replaces the title and content of a page, which is the call that carries a\nMarkdown file from your repository into Routebase. A page that a person has\nlocked in the editor is not writable, and the call is rejected until the lock is\nreleased.\n",
        "operationId": "updateDocPage",
        "parameters": [
          {
            "$ref": "#/components/parameters/DocId"
          },
          {
            "$ref": "#/components/parameters/PageId"
          },
          {
            "$ref": "#/components/parameters/ProjectId"
          },
          {
            "$ref": "#/components/parameters/DocVersionId"
          },
          {
            "name": "X-RB-Region",
            "in": "header",
            "description": "Region of your organization. US organizations must send \u0060us\u0060; EU organizations leave the header out. Without it a US call is routed to the EU region and answered with 401.",
            "schema": {
              "type": "string",
              "example": "us"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateDocPageRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The updated page.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocPageDetail"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          },
          "429": {
            "description": "The rate limit was exceeded. The \u0060Retry-After\u0060 header gives the seconds to wait.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying.",
                "required": true,
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            },
            "content": {
              "application/problem\u002Bjson": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "x-routebase-folder-path": "Docs as Code"
      }
    },
    "/api/projects/{projectId}/docs/{docId}/versions/{versionId}/tree": {
      "get": {
        "tags": [
          "Docs as Code"
        ],
        "summary": "Get the page tree of a version",
        "description": "Returns the full hierarchy of a documentation version. Each node is exactly one\nof a page, a folder or an API reference snapshot, and the \u0060type\u0060 field says\nwhich of the three is filled.\n\nThe response carries an ETag, so a pipeline that syncs repeatedly can send\n\u0060If-None-Match\u0060 and skip the work when nothing moved.\n",
        "operationId": "getDocTree",
        "parameters": [
          {
            "$ref": "#/components/parameters/DocId"
          },
          {
            "$ref": "#/components/parameters/ProjectId"
          },
          {
            "$ref": "#/components/parameters/DocVersionId"
          },
          {
            "name": "X-RB-Region",
            "in": "header",
            "description": "Region of your organization. US organizations must send \u0060us\u0060; EU organizations leave the header out. Without it a US call is routed to the EU region and answered with 401.",
            "schema": {
              "type": "string",
              "example": "us"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The documentation tree.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DocTree"
                }
              }
            }
          },
          "304": {
            "description": "Nothing changed since the ETag you sent."
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "description": "The rate limit was exceeded. The \u0060Retry-After\u0060 header gives the seconds to wait.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying.",
                "required": true,
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            },
            "content": {
              "application/problem\u002Bjson": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "x-routebase-folder-path": "Docs as Code"
      }
    },
    "/api/projects/{projectId}/docs/{docId}/versions/{versionId}/tree/reorder": {
      "put": {
        "tags": [
          "Docs as Code"
        ],
        "summary": "Reorder the items under one parent",
        "description": "Sets the order of the items inside one folder, or at the root when\n\u0060parentFolderPublicId\u0060 is null. Send the complete list of ids in the order you\nwant, because the position of an item is its index in that list.\n",
        "operationId": "reorderTreeItems",
        "parameters": [
          {
            "$ref": "#/components/parameters/DocId"
          },
          {
            "$ref": "#/components/parameters/ProjectId"
          },
          {
            "$ref": "#/components/parameters/DocVersionId"
          },
          {
            "name": "X-RB-Region",
            "in": "header",
            "description": "Region of your organization. US organizations must send \u0060us\u0060; EU organizations leave the header out. Without it a US call is routed to the EU region and answered with 401.",
            "schema": {
              "type": "string",
              "example": "us"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ReorderTreeItemsRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "204": {
            "description": "The order was applied."
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "description": "The rate limit was exceeded. The \u0060Retry-After\u0060 header gives the seconds to wait.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying.",
                "required": true,
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            },
            "content": {
              "application/problem\u002Bjson": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "x-routebase-folder-path": "Docs as Code"
      }
    },
    "/api/projects/{projectId}/security/findings": {
      "get": {
        "tags": [
          "Security"
        ],
        "summary": "List security findings",
        "description": "Returns the findings of a project across all scans, filtered as you need them.\nA pipeline that only wants to know whether anything new broke should filter on\n\u0060status=open\u0060 and on the severities it cares about.\n",
        "operationId": "getSecurityFindings",
        "parameters": [
          {
            "name": "assignedToMe",
            "in": "query",
            "description": "Return only findings assigned to the calling user.",
            "schema": {
              "type": "boolean",
              "default": false
            }
          },
          {
            "$ref": "#/components/parameters/ProjectId"
          },
          {
            "name": "scannerId",
            "in": "query",
            "description": "Filter by the scanner that produced the finding.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "Free-text search across title and description.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "severity",
            "in": "query",
            "description": "Filter by severity.",
            "schema": {
              "$ref": "#/components/schemas/Severity"
            }
          },
          {
            "$ref": "#/components/parameters/Skip"
          },
          {
            "name": "sortBy",
            "in": "query",
            "description": "Sort order of the result.",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter by finding status.",
            "schema": {
              "$ref": "#/components/schemas/FindingStatus"
            }
          },
          {
            "name": "take",
            "in": "query",
            "description": "Maximum number of items to return. Defaults to 50.",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 50
            }
          },
          {
            "name": "X-RB-Region",
            "in": "header",
            "description": "Region of your organization. US organizations must send \u0060us\u0060; EU organizations leave the header out. Without it a US call is routed to the EU region and answered with 401.",
            "schema": {
              "type": "string",
              "example": "us"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of findings.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SecurityFindingList"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "description": "The rate limit was exceeded. The \u0060Retry-After\u0060 header gives the seconds to wait.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying.",
                "required": true,
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            },
            "content": {
              "application/problem\u002Bjson": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "x-routebase-folder-path": "Security"
      }
    },
    "/api/projects/{projectId}/security/findings/export/sarif": {
      "get": {
        "tags": [
          "Security"
        ],
        "summary": "Export findings as SARIF",
        "description": "Returns the findings of a project as a SARIF 2.1.0 document, which GitHub code\nscanning and comparable tools ingest directly. Upload it from your pipeline and\nthe findings show up next to the code they concern. Without a \u0060status\u0060 filter it\nreturns the open ones, which is what a build gate wants.\n",
        "operationId": "exportSecurityFindingsSarif",
        "parameters": [
          {
            "$ref": "#/components/parameters/ProjectId"
          },
          {
            "name": "status",
            "in": "query",
            "description": "Filter by finding status. Defaults to \u0060open\u0060.",
            "schema": {
              "$ref": "#/components/schemas/FindingStatus"
            }
          },
          {
            "name": "X-RB-Region",
            "in": "header",
            "description": "Region of your organization. US organizations must send \u0060us\u0060; EU organizations leave the header out. Without it a US call is routed to the EU region and answered with 401.",
            "schema": {
              "type": "string",
              "example": "us"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The SARIF document.",
            "content": {
              "application/sarif\u002Bjson": {
                "schema": {
                  "type": "string",
                  "description": "A SARIF 2.1.0 document."
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "description": "The rate limit was exceeded. The \u0060Retry-After\u0060 header gives the seconds to wait.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying.",
                "required": true,
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            },
            "content": {
              "application/problem\u002Bjson": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "x-routebase-folder-path": "Security"
      }
    },
    "/api/projects/{projectId}/security/scan-profiles/{profileId}/run": {
      "post": {
        "tags": [
          "Security"
        ],
        "summary": "Start a security scan",
        "description": "Queues a scan for the given profile and returns immediately with the tracking id,\nbecause a scan runs in the background. Poll the scan run endpoint until its\nstatus leaves \u0060queued\u0060 and \u0060running\u0060.\n",
        "operationId": "enqueueScanRun",
        "parameters": [
          {
            "name": "profileId",
            "in": "path",
            "description": "Public id of the scan profile.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "$ref": "#/components/parameters/ProjectId"
          },
          {
            "name": "X-RB-Region",
            "in": "header",
            "description": "Region of your organization. US organizations must send \u0060us\u0060; EU organizations leave the header out. Without it a US call is routed to the EU region and answered with 401.",
            "schema": {
              "type": "string",
              "example": "us"
            }
          }
        ],
        "responses": {
          "202": {
            "description": "The scan was queued.",
            "headers": {
              "Location": {
                "description": "URL of the scan run to poll.",
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScanRun"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "description": "The rate limit was exceeded. The \u0060Retry-After\u0060 header gives the seconds to wait.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying.",
                "required": true,
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            },
            "content": {
              "application/problem\u002Bjson": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "x-routebase-folder-path": "Security"
      }
    },
    "/api/projects/{projectId}/security/scan-runs/{runId}": {
      "get": {
        "tags": [
          "Security"
        ],
        "summary": "Get a scan run",
        "description": "Returns the state of a scan, including how many scanners have finished and which\none is running. Once \u0060status\u0060 is \u0060completed\u0060, \u0060securityScore\u0060 and\n\u0060openFindingsCount\u0060 are final and a pipeline can gate on them.\n",
        "operationId": "getScanRunById",
        "parameters": [
          {
            "$ref": "#/components/parameters/ProjectId"
          },
          {
            "name": "runId",
            "in": "path",
            "description": "Public id of the scan run.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "X-RB-Region",
            "in": "header",
            "description": "Region of your organization. US organizations must send \u0060us\u0060; EU organizations leave the header out. Without it a US call is routed to the EU region and answered with 401.",
            "schema": {
              "type": "string",
              "example": "us"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The scan run.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ScanRun"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "description": "The rate limit was exceeded. The \u0060Retry-After\u0060 header gives the seconds to wait.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying.",
                "required": true,
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            },
            "content": {
              "application/problem\u002Bjson": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "x-routebase-folder-path": "Security"
      }
    },
    "/api/projects/{projectId}/specs": {
      "get": {
        "tags": [
          "API Specs"
        ],
        "summary": "List the specifications of a project",
        "description": "Returns the specifications of a project together with the number of their\nlatest published version, so a pipeline can resolve a spec by name and see at a\nglance what is live.\n",
        "operationId": "getApiSpecs",
        "parameters": [
          {
            "$ref": "#/components/parameters/ProjectId"
          },
          {
            "$ref": "#/components/parameters/Skip"
          },
          {
            "$ref": "#/components/parameters/Take"
          },
          {
            "name": "X-RB-Region",
            "in": "header",
            "description": "Region of your organization. US organizations must send \u0060us\u0060; EU organizations leave the header out. Without it a US call is routed to the EU region and answered with 401.",
            "schema": {
              "type": "string",
              "example": "us"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of specifications.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ApiSpecList"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "description": "The rate limit was exceeded. The \u0060Retry-After\u0060 header gives the seconds to wait.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying.",
                "required": true,
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            },
            "content": {
              "application/problem\u002Bjson": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "x-routebase-folder-path": "API Specs"
      }
    },
    "/api/projects/{projectId}/specs/{specId}/export": {
      "get": {
        "tags": [
          "API Specs"
        ],
        "summary": "Export the current state of a specification",
        "description": "Returns the working state of a specification as OpenAPI, which is the draft as\nit stands in the designer right now. To export something stable, export a\npublished version instead.\n",
        "operationId": "exportApiSpec",
        "parameters": [
          {
            "$ref": "#/components/parameters/SpecFormat"
          },
          {
            "$ref": "#/components/parameters/ProjectId"
          },
          {
            "$ref": "#/components/parameters/SpecId"
          },
          {
            "name": "X-RB-Region",
            "in": "header",
            "description": "Region of your organization. US organizations must send \u0060us\u0060; EU organizations leave the header out. Without it a US call is routed to the EU region and answered with 401.",
            "schema": {
              "type": "string",
              "example": "us"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The specification document.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "description": "The rate limit was exceeded. The \u0060Retry-After\u0060 header gives the seconds to wait.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying.",
                "required": true,
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            },
            "content": {
              "application/problem\u002Bjson": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "x-routebase-folder-path": "API Specs"
      }
    },
    "/api/projects/{projectId}/specs/{specId}/versions": {
      "get": {
        "tags": [
          "API Specs"
        ],
        "summary": "List the versions of a specification",
        "description": "Returns the versions of a specification with their status and publish target.\nOnly a version whose status is \u0060published\u0060 is frozen, so anything else can still\nchange underneath you.\n",
        "operationId": "getSpecVersions",
        "parameters": [
          {
            "$ref": "#/components/parameters/ProjectId"
          },
          {
            "$ref": "#/components/parameters/Skip"
          },
          {
            "$ref": "#/components/parameters/SpecId"
          },
          {
            "$ref": "#/components/parameters/Take"
          },
          {
            "name": "X-RB-Region",
            "in": "header",
            "description": "Region of your organization. US organizations must send \u0060us\u0060; EU organizations leave the header out. Without it a US call is routed to the EU region and answered with 401.",
            "schema": {
              "type": "string",
              "example": "us"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of versions.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/SpecVersionList"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "description": "The rate limit was exceeded. The \u0060Retry-After\u0060 header gives the seconds to wait.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying.",
                "required": true,
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            },
            "content": {
              "application/problem\u002Bjson": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "x-routebase-folder-path": "API Specs"
      }
    },
    "/api/projects/{projectId}/specs/{specId}/versions/{versionId}/export": {
      "get": {
        "tags": [
          "API Specs"
        ],
        "summary": "Export a published version",
        "description": "Returns a published version as a downloadable OpenAPI document. A published\nversion is frozen, so the same call returns the same bytes forever, which makes\nit safe to generate clients from in a build.\n",
        "operationId": "exportSpecVersion",
        "parameters": [
          {
            "$ref": "#/components/parameters/SpecFormat"
          },
          {
            "$ref": "#/components/parameters/ProjectId"
          },
          {
            "$ref": "#/components/parameters/SpecId"
          },
          {
            "$ref": "#/components/parameters/VersionId"
          },
          {
            "name": "X-RB-Region",
            "in": "header",
            "description": "Region of your organization. US organizations must send \u0060us\u0060; EU organizations leave the header out. Without it a US call is routed to the EU region and answered with 401.",
            "schema": {
              "type": "string",
              "example": "us"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The specification document as a file.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "string"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "description": "The rate limit was exceeded. The \u0060Retry-After\u0060 header gives the seconds to wait.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying.",
                "required": true,
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            },
            "content": {
              "application/problem\u002Bjson": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "x-routebase-folder-path": "API Specs"
      }
    },
    "/api/projects/{projectId}/specs/{specId}/versions/{versionId}/promote": {
      "post": {
        "tags": [
          "API Specs"
        ],
        "summary": "Record that a version went into an environment",
        "description": "Tells Routebase which version an environment now serves. The intended order is\nthat your pipeline deploys first and then makes this call, so the pin reflects\nwhat is actually running rather than what someone intended.\n\nA call authenticated with an API key is recorded with source \u0060cli\u0060, which is how\na pipeline assertion is told apart from someone clicking in the UI. If the target\nenvironment freezes versions, the promoted version becomes immutable here.\n",
        "operationId": "promoteSpecVersion",
        "parameters": [
          {
            "$ref": "#/components/parameters/ProjectId"
          },
          {
            "$ref": "#/components/parameters/SpecId"
          },
          {
            "$ref": "#/components/parameters/VersionId"
          },
          {
            "name": "X-RB-Region",
            "in": "header",
            "description": "Region of your organization. US organizations must send \u0060us\u0060; EU organizations leave the header out. Without it a US call is routed to the EU region and answered with 401.",
            "schema": {
              "type": "string",
              "example": "us"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PromoteVersionRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The promotion was recorded.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PromotionResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "description": "The promotion is blocked. The most common reason is an unacknowledged impact\non dependent services, which you clear by sending \u0060impactAcknowledged\u0060.\n",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          },
          "429": {
            "description": "The rate limit was exceeded. The \u0060Retry-After\u0060 header gives the seconds to wait.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying.",
                "required": true,
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            },
            "content": {
              "application/problem\u002Bjson": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "x-routebase-folder-path": "API Specs"
      }
    },
    "/api/projects/{projectId}/test-suites": {
      "get": {
        "tags": [
          "CI \u0026 Test Runs"
        ],
        "summary": "List the test suites of a project",
        "description": "The project scoped equivalent of \u0060/api/cli/suites\u0060, which returns the same page\nof suites. Use whichever fits the path style of your client.\n",
        "operationId": "getTestSuites",
        "parameters": [
          {
            "$ref": "#/components/parameters/ProjectId"
          },
          {
            "$ref": "#/components/parameters/Skip"
          },
          {
            "$ref": "#/components/parameters/Take"
          },
          {
            "name": "X-RB-Region",
            "in": "header",
            "description": "Region of your organization. US organizations must send \u0060us\u0060; EU organizations leave the header out. Without it a US call is routed to the EU region and answered with 401.",
            "schema": {
              "type": "string",
              "example": "us"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A page of test suites.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TestSuiteList"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "description": "The rate limit was exceeded. The \u0060Retry-After\u0060 header gives the seconds to wait.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying.",
                "required": true,
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            },
            "content": {
              "application/problem\u002Bjson": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "x-routebase-folder-path": "CI \u0026 Test Runs"
      }
    },
    "/api/projects/{projectId}/test-suites/{suiteId}/execute": {
      "post": {
        "tags": [
          "CI \u0026 Test Runs"
        ],
        "summary": "Execute a test suite",
        "description": "Runs every test case in a suite in order, carrying extracted variables from one\ncase into the next. This is the full result shape, so it also carries the\nper-case detail, the seed results and the performance metrics that\n\u0060/api/cli/run\u0060 leaves out.\n\nSet \u0060persistResults\u0060 to false for a dry run that leaves no test run behind.\n",
        "operationId": "executeTestSuite",
        "parameters": [
          {
            "$ref": "#/components/parameters/ProjectId"
          },
          {
            "name": "suiteId",
            "in": "path",
            "description": "Public id of the test suite.",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            }
          },
          {
            "name": "X-RB-Region",
            "in": "header",
            "description": "Region of your organization. US organizations must send \u0060us\u0060; EU organizations leave the header out. Without it a US call is routed to the EU region and answered with 401.",
            "schema": {
              "type": "string",
              "example": "us"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ExecuteTestSuiteRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The run completed.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/TestSuiteExecutionResult"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "429": {
            "description": "The rate limit was exceeded. The \u0060Retry-After\u0060 header gives the seconds to wait.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying.",
                "required": true,
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            },
            "content": {
              "application/problem\u002Bjson": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        },
        "security": [
          {
            "ApiKeyAuth": []
          }
        ],
        "x-routebase-folder-path": "CI \u0026 Test Runs"
      }
    },
    "/scim/v2/{orgSlug}/Groups": {
      "get": {
        "tags": [
          "SCIM"
        ],
        "summary": "List groups",
        "description": "Returns the provisioned groups of an organization in a SCIM ListResponse\nenvelope. Groups map onto Routebase teams, and a group mapping decides which\nrole its members receive.\n",
        "operationId": "scimListGroups",
        "parameters": [
          {
            "$ref": "#/components/parameters/ScimCount"
          },
          {
            "name": "filter",
            "in": "query",
            "description": "SCIM filter expression, for example \u0060displayName eq \u0022Engineering\u0022\u0060.",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/OrgSlug"
          },
          {
            "$ref": "#/components/parameters/ScimStartIndex"
          },
          {
            "name": "X-RB-Region",
            "in": "header",
            "description": "Region of your organization. US organizations must send \u0060us\u0060; EU organizations leave the header out. Without it a US call is routed to the EU region and answered with 401.",
            "schema": {
              "type": "string",
              "example": "us"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A SCIM ListResponse of groups.",
            "content": {
              "application/scim\u002Bjson": {
                "schema": {
                  "$ref": "#/components/schemas/ScimGroupListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ScimError"
          },
          "404": {
            "$ref": "#/components/responses/ScimError"
          },
          "429": {
            "description": "The rate limit was exceeded. The \u0060Retry-After\u0060 header gives the seconds to wait. SCIM is counted per source IP.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying.",
                "required": true,
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            },
            "content": {
              "application/problem\u002Bjson": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        },
        "security": [
          {
            "ScimBearerAuth": []
          }
        ],
        "x-routebase-folder-path": "SCIM"
      },
      "post": {
        "tags": [
          "SCIM"
        ],
        "summary": "Provision a group",
        "description": "Creates a group and adds the members you send with it.",
        "operationId": "scimCreateGroup",
        "parameters": [
          {
            "$ref": "#/components/parameters/OrgSlug"
          },
          {
            "name": "X-RB-Region",
            "in": "header",
            "description": "Region of your organization. US organizations must send \u0060us\u0060; EU organizations leave the header out. Without it a US call is routed to the EU region and answered with 401.",
            "schema": {
              "type": "string",
              "example": "us"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/scim\u002Bjson": {
              "schema": {
                "$ref": "#/components/schemas/ScimGroupResource"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "The group was provisioned.",
            "content": {
              "application/scim\u002Bjson": {
                "schema": {
                  "$ref": "#/components/schemas/ScimGroupResource"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ScimError"
          },
          "409": {
            "$ref": "#/components/responses/ScimError"
          },
          "429": {
            "description": "The rate limit was exceeded. The \u0060Retry-After\u0060 header gives the seconds to wait. SCIM is counted per source IP.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying.",
                "required": true,
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            },
            "content": {
              "application/problem\u002Bjson": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        },
        "security": [
          {
            "ScimBearerAuth": []
          }
        ],
        "x-routebase-folder-path": "SCIM"
      }
    },
    "/scim/v2/{orgSlug}/Groups/{id}": {
      "get": {
        "tags": [
          "SCIM"
        ],
        "summary": "Get a group",
        "description": "Returns one provisioned group with its members.",
        "operationId": "scimGetGroup",
        "parameters": [
          {
            "$ref": "#/components/parameters/ScimId"
          },
          {
            "$ref": "#/components/parameters/OrgSlug"
          },
          {
            "name": "X-RB-Region",
            "in": "header",
            "description": "Region of your organization. US organizations must send \u0060us\u0060; EU organizations leave the header out. Without it a US call is routed to the EU region and answered with 401.",
            "schema": {
              "type": "string",
              "example": "us"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The group.",
            "content": {
              "application/scim\u002Bjson": {
                "schema": {
                  "$ref": "#/components/schemas/ScimGroupResource"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/ScimError"
          },
          "429": {
            "description": "The rate limit was exceeded. The \u0060Retry-After\u0060 header gives the seconds to wait. SCIM is counted per source IP.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying.",
                "required": true,
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            },
            "content": {
              "application/problem\u002Bjson": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        },
        "security": [
          {
            "ScimBearerAuth": []
          }
        ],
        "x-routebase-folder-path": "SCIM"
      },
      "patch": {
        "tags": [
          "SCIM"
        ],
        "summary": "Patch a group",
        "description": "Applies a SCIM PatchOp to a group, which is how an identity provider adds and\nremoves members as people join and leave a team.\n",
        "operationId": "scimPatchGroup",
        "parameters": [
          {
            "$ref": "#/components/parameters/ScimId"
          },
          {
            "$ref": "#/components/parameters/OrgSlug"
          },
          {
            "name": "X-RB-Region",
            "in": "header",
            "description": "Region of your organization. US organizations must send \u0060us\u0060; EU organizations leave the header out. Without it a US call is routed to the EU region and answered with 401.",
            "schema": {
              "type": "string",
              "example": "us"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/scim\u002Bjson": {
              "schema": {
                "$ref": "#/components/schemas/ScimPatchRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The patched group.",
            "content": {
              "application/scim\u002Bjson": {
                "schema": {
                  "$ref": "#/components/schemas/ScimGroupResource"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ScimError"
          },
          "404": {
            "$ref": "#/components/responses/ScimError"
          },
          "429": {
            "description": "The rate limit was exceeded. The \u0060Retry-After\u0060 header gives the seconds to wait. SCIM is counted per source IP.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying.",
                "required": true,
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            },
            "content": {
              "application/problem\u002Bjson": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        },
        "security": [
          {
            "ScimBearerAuth": []
          }
        ],
        "x-routebase-folder-path": "SCIM"
      },
      "delete": {
        "tags": [
          "SCIM"
        ],
        "summary": "Deprovision a group",
        "description": "Removes a group. Its members keep their organization membership.",
        "operationId": "scimDeleteGroup",
        "parameters": [
          {
            "$ref": "#/components/parameters/ScimId"
          },
          {
            "$ref": "#/components/parameters/OrgSlug"
          },
          {
            "name": "X-RB-Region",
            "in": "header",
            "description": "Region of your organization. US organizations must send \u0060us\u0060; EU organizations leave the header out. Without it a US call is routed to the EU region and answered with 401.",
            "schema": {
              "type": "string",
              "example": "us"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "The group was removed."
          },
          "404": {
            "$ref": "#/components/responses/ScimError"
          },
          "429": {
            "description": "The rate limit was exceeded. The \u0060Retry-After\u0060 header gives the seconds to wait. SCIM is counted per source IP.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying.",
                "required": true,
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            },
            "content": {
              "application/problem\u002Bjson": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        },
        "security": [
          {
            "ScimBearerAuth": []
          }
        ],
        "x-routebase-folder-path": "SCIM"
      }
    },
    "/scim/v2/{orgSlug}/ResourceTypes": {
      "get": {
        "tags": [
          "SCIM"
        ],
        "summary": "List the supported resource types",
        "description": "Returns the SCIM resource types this service exposes, which are User and Group.",
        "operationId": "scimResourceTypes",
        "parameters": [
          {
            "$ref": "#/components/parameters/OrgSlug"
          },
          {
            "name": "X-RB-Region",
            "in": "header",
            "description": "Region of your organization. US organizations must send \u0060us\u0060; EU organizations leave the header out. Without it a US call is routed to the EU region and answered with 401.",
            "schema": {
              "type": "string",
              "example": "us"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The resource types.",
            "content": {
              "application/scim\u002Bjson": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "429": {
            "description": "The rate limit was exceeded. The \u0060Retry-After\u0060 header gives the seconds to wait. SCIM is counted per source IP.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying.",
                "required": true,
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            },
            "content": {
              "application/problem\u002Bjson": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        },
        "security": [
          {
            "ScimBearerAuth": []
          }
        ],
        "x-routebase-folder-path": "SCIM"
      }
    },
    "/scim/v2/{orgSlug}/Schemas": {
      "get": {
        "tags": [
          "SCIM"
        ],
        "summary": "List the supported schemas",
        "description": "Returns the SCIM schemas backing the User and Group resources.",
        "operationId": "scimSchemas",
        "parameters": [
          {
            "$ref": "#/components/parameters/OrgSlug"
          },
          {
            "name": "X-RB-Region",
            "in": "header",
            "description": "Region of your organization. US organizations must send \u0060us\u0060; EU organizations leave the header out. Without it a US call is routed to the EU region and answered with 401.",
            "schema": {
              "type": "string",
              "example": "us"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The schemas.",
            "content": {
              "application/scim\u002Bjson": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "429": {
            "description": "The rate limit was exceeded. The \u0060Retry-After\u0060 header gives the seconds to wait. SCIM is counted per source IP.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying.",
                "required": true,
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            },
            "content": {
              "application/problem\u002Bjson": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        },
        "security": [
          {
            "ScimBearerAuth": []
          }
        ],
        "x-routebase-folder-path": "SCIM"
      }
    },
    "/scim/v2/{orgSlug}/ServiceProviderConfig": {
      "get": {
        "tags": [
          "SCIM"
        ],
        "summary": "Describe what this SCIM service supports",
        "description": "Returns the SCIM service provider configuration, which identity providers read\nduring setup to learn which operations are available.\n",
        "operationId": "scimServiceProviderConfig",
        "parameters": [
          {
            "$ref": "#/components/parameters/OrgSlug"
          },
          {
            "name": "X-RB-Region",
            "in": "header",
            "description": "Region of your organization. US organizations must send \u0060us\u0060; EU organizations leave the header out. Without it a US call is routed to the EU region and answered with 401.",
            "schema": {
              "type": "string",
              "example": "us"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The service provider configuration.",
            "content": {
              "application/scim\u002Bjson": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "429": {
            "description": "The rate limit was exceeded. The \u0060Retry-After\u0060 header gives the seconds to wait. SCIM is counted per source IP.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying.",
                "required": true,
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            },
            "content": {
              "application/problem\u002Bjson": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        },
        "security": [
          {
            "ScimBearerAuth": []
          }
        ],
        "x-routebase-folder-path": "SCIM"
      }
    },
    "/scim/v2/{orgSlug}/Users": {
      "get": {
        "tags": [
          "SCIM"
        ],
        "summary": "List users",
        "description": "Returns the provisioned users of an organization in a SCIM ListResponse\nenvelope. Identity providers use the \u0060filter\u0060 parameter to look a user up by\n\u0060userName\u0060 before deciding whether to create or update.\n",
        "operationId": "scimListUsers",
        "parameters": [
          {
            "$ref": "#/components/parameters/ScimCount"
          },
          {
            "name": "filter",
            "in": "query",
            "description": "SCIM filter expression, for example \u0060userName eq \u0022ada@example.com\u0022\u0060.",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/OrgSlug"
          },
          {
            "$ref": "#/components/parameters/ScimStartIndex"
          },
          {
            "name": "X-RB-Region",
            "in": "header",
            "description": "Region of your organization. US organizations must send \u0060us\u0060; EU organizations leave the header out. Without it a US call is routed to the EU region and answered with 401.",
            "schema": {
              "type": "string",
              "example": "us"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A SCIM ListResponse of users.",
            "content": {
              "application/scim\u002Bjson": {
                "schema": {
                  "$ref": "#/components/schemas/ScimUserListResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ScimError"
          },
          "404": {
            "$ref": "#/components/responses/ScimError"
          },
          "429": {
            "description": "The rate limit was exceeded. The \u0060Retry-After\u0060 header gives the seconds to wait. SCIM is counted per source IP.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying.",
                "required": true,
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            },
            "content": {
              "application/problem\u002Bjson": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        },
        "security": [
          {
            "ScimBearerAuth": []
          }
        ],
        "x-routebase-folder-path": "SCIM"
      },
      "post": {
        "tags": [
          "SCIM"
        ],
        "summary": "Provision a user",
        "description": "Creates a user in the organization. A user provisioned this way joins with the\ndefault member role, and further role changes stay with Routebase rather than\nthe identity provider.\n",
        "operationId": "scimCreateUser",
        "parameters": [
          {
            "$ref": "#/components/parameters/OrgSlug"
          },
          {
            "name": "X-RB-Region",
            "in": "header",
            "description": "Region of your organization. US organizations must send \u0060us\u0060; EU organizations leave the header out. Without it a US call is routed to the EU region and answered with 401.",
            "schema": {
              "type": "string",
              "example": "us"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/scim\u002Bjson": {
              "schema": {
                "$ref": "#/components/schemas/ScimUserResource"
              }
            }
          },
          "required": true
        },
        "responses": {
          "201": {
            "description": "The user was provisioned.",
            "content": {
              "application/scim\u002Bjson": {
                "schema": {
                  "$ref": "#/components/schemas/ScimUserResource"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ScimError"
          },
          "409": {
            "$ref": "#/components/responses/ScimError"
          },
          "429": {
            "description": "The rate limit was exceeded. The \u0060Retry-After\u0060 header gives the seconds to wait. SCIM is counted per source IP.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying.",
                "required": true,
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            },
            "content": {
              "application/problem\u002Bjson": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        },
        "security": [
          {
            "ScimBearerAuth": []
          }
        ],
        "x-routebase-folder-path": "SCIM"
      }
    },
    "/scim/v2/{orgSlug}/Users/{id}": {
      "get": {
        "tags": [
          "SCIM"
        ],
        "summary": "Get a user",
        "description": "Returns one provisioned user.",
        "operationId": "scimGetUser",
        "parameters": [
          {
            "$ref": "#/components/parameters/ScimId"
          },
          {
            "$ref": "#/components/parameters/OrgSlug"
          },
          {
            "name": "X-RB-Region",
            "in": "header",
            "description": "Region of your organization. US organizations must send \u0060us\u0060; EU organizations leave the header out. Without it a US call is routed to the EU region and answered with 401.",
            "schema": {
              "type": "string",
              "example": "us"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "The user.",
            "content": {
              "application/scim\u002Bjson": {
                "schema": {
                  "$ref": "#/components/schemas/ScimUserResource"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/ScimError"
          },
          "429": {
            "description": "The rate limit was exceeded. The \u0060Retry-After\u0060 header gives the seconds to wait. SCIM is counted per source IP.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying.",
                "required": true,
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            },
            "content": {
              "application/problem\u002Bjson": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        },
        "security": [
          {
            "ScimBearerAuth": []
          }
        ],
        "x-routebase-folder-path": "SCIM"
      },
      "put": {
        "tags": [
          "SCIM"
        ],
        "summary": "Replace a user",
        "description": "Replaces the attributes of a user wholesale. Attributes you leave out are\ncleared, so send the complete resource rather than a partial one.\n",
        "operationId": "scimReplaceUser",
        "parameters": [
          {
            "$ref": "#/components/parameters/ScimId"
          },
          {
            "$ref": "#/components/parameters/OrgSlug"
          },
          {
            "name": "X-RB-Region",
            "in": "header",
            "description": "Region of your organization. US organizations must send \u0060us\u0060; EU organizations leave the header out. Without it a US call is routed to the EU region and answered with 401.",
            "schema": {
              "type": "string",
              "example": "us"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/scim\u002Bjson": {
              "schema": {
                "$ref": "#/components/schemas/ScimUserResource"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The updated user.",
            "content": {
              "application/scim\u002Bjson": {
                "schema": {
                  "$ref": "#/components/schemas/ScimUserResource"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ScimError"
          },
          "404": {
            "$ref": "#/components/responses/ScimError"
          },
          "429": {
            "description": "The rate limit was exceeded. The \u0060Retry-After\u0060 header gives the seconds to wait. SCIM is counted per source IP.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying.",
                "required": true,
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            },
            "content": {
              "application/problem\u002Bjson": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        },
        "security": [
          {
            "ScimBearerAuth": []
          }
        ],
        "x-routebase-folder-path": "SCIM"
      },
      "patch": {
        "tags": [
          "SCIM"
        ],
        "summary": "Patch a user",
        "description": "Applies a SCIM PatchOp to a user. This is the call an identity provider makes to\ndeactivate someone, by setting \u0060active\u0060 to false, which is a soft removal that\nkeeps the audit trail intact.\n",
        "operationId": "scimPatchUser",
        "parameters": [
          {
            "$ref": "#/components/parameters/ScimId"
          },
          {
            "$ref": "#/components/parameters/OrgSlug"
          },
          {
            "name": "X-RB-Region",
            "in": "header",
            "description": "Region of your organization. US organizations must send \u0060us\u0060; EU organizations leave the header out. Without it a US call is routed to the EU region and answered with 401.",
            "schema": {
              "type": "string",
              "example": "us"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/scim\u002Bjson": {
              "schema": {
                "$ref": "#/components/schemas/ScimPatchRequest"
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "The patched user.",
            "content": {
              "application/scim\u002Bjson": {
                "schema": {
                  "$ref": "#/components/schemas/ScimUserResource"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ScimError"
          },
          "404": {
            "$ref": "#/components/responses/ScimError"
          },
          "429": {
            "description": "The rate limit was exceeded. The \u0060Retry-After\u0060 header gives the seconds to wait. SCIM is counted per source IP.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying.",
                "required": true,
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            },
            "content": {
              "application/problem\u002Bjson": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        },
        "security": [
          {
            "ScimBearerAuth": []
          }
        ],
        "x-routebase-folder-path": "SCIM"
      },
      "delete": {
        "tags": [
          "SCIM"
        ],
        "summary": "Deprovision a user",
        "description": "Removes a user from the organization.",
        "operationId": "scimDeleteUser",
        "parameters": [
          {
            "$ref": "#/components/parameters/ScimId"
          },
          {
            "$ref": "#/components/parameters/OrgSlug"
          },
          {
            "name": "X-RB-Region",
            "in": "header",
            "description": "Region of your organization. US organizations must send \u0060us\u0060; EU organizations leave the header out. Without it a US call is routed to the EU region and answered with 401.",
            "schema": {
              "type": "string",
              "example": "us"
            }
          }
        ],
        "responses": {
          "204": {
            "description": "The user was removed."
          },
          "404": {
            "$ref": "#/components/responses/ScimError"
          },
          "429": {
            "description": "The rate limit was exceeded. The \u0060Retry-After\u0060 header gives the seconds to wait. SCIM is counted per source IP.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before retrying.",
                "required": true,
                "schema": {
                  "type": "integer",
                  "format": "int32"
                }
              }
            },
            "content": {
              "application/problem\u002Bjson": {
                "schema": {
                  "$ref": "#/components/schemas/Problem"
                }
              }
            }
          }
        },
        "security": [
          {
            "ScimBearerAuth": []
          }
        ],
        "x-routebase-folder-path": "SCIM"
      }
    }
  },
  "components": {
    "schemas": {
      "Problem": {
        "required": [
          "status"
        ],
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "description": "A URI identifying the problem type."
          },
          "title": {
            "type": "string",
            "description": "A short summary of the problem type."
          },
          "status": {
            "type": "integer",
            "description": "The HTTP status code.",
            "format": "int32"
          },
          "detail": {
            "type": "string",
            "description": "A human readable explanation."
          },
          "instance": {
            "type": "string",
[...]
